<h1>RFA Template Builder</h1>
<mat-vertical-stepper >
    <mat-step label="What are you requesting?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Example: Identifying cause of error: Object Reference not set to an instance of an object."
            </mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>    
    <mat-step label="What Module?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Example: Unity, WorkView, Patient Window
            </mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
     </mat-step>
    <mat-step label="What Client?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Example: Thick Client, Unity, Web Client, OnBase Studio
            </mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="What Version?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Example: 18.0.1.72, 17.0.2.87
            </mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Are there any error messages?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Exception Type: System.Reflection.ReflectionTypeLoadException
                Error Id: 8d0fc5ae-a689-422f-9c93-24db14d482dc
                Types: System.RuntimeType[]
                LoaderExceptions: System.Exception[]
                Message: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.
                Data: System.Collections.ListDictionaryInternal
                TargetSite: System.RuntimeType[] GetTypes(System.Reflection.RuntimeModule)
                HelpLink: NULL
                Source: mscorlib
                HResult: -2146232830
                
                StackTrace Information
                *********************************************
                   at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
                   at System.Reflection.RuntimeModule.GetTypes()
                   at System.Reflection.Assembly.GetTypes()
                   at Hyland.Services.ServiceItemCache.getSOATypes(Assembly asm, List`1 serviceProviders, List`1 serviceClasses, List`1 staticServiceClasses)
            </mat-label>
            <mat-hint>Please include full stack trace.</mat-hint>
            <textarea style="height: 250px;" matInput placeholder=" Exception Information
            *********************************************
            Exception Type: System.Reflection.ReflectionTypeLoadException
            Error Id: 8d0fc5ae-a689-422f-9c93-24db14d482dc
            Types: System.RuntimeType[]
            LoaderExceptions: System.Exception[]
            Message: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.
            Data: System.Collections.ListDictionaryInternal
            TargetSite: System.RuntimeType[] GetTypes(System.Reflection.RuntimeModule)
            HelpLink: NULL
            Source: mscorlib
            HResult: -2146232830
            
            StackTrace Information
            *********************************************
               at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
               at System.Reflection.RuntimeModule.GetTypes()
               at System.Reflection.Assembly.GetTypes()
               at Hyland.Services.ServiceItemCache.getSOATypes(Assembly asm, List`1 serviceProviders, List`1 serviceClasses, List`1 staticServiceClasses)"></textarea>
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="When did this issue start">
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="What is the frequency of the issue?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Example: Hourly, Daily, Monthly, Weekly, 
            </mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="How many users are affected?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-label>Example: Unity, WorkView, Patient Window
            </mat-label>
            <input matInput placeholder="">
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <!-- <mat-step label="What logging information do you have?">
        <mat-form-field style="width:50%;" appearance="standard">
            <mat-checkbox>Diagnostics Console</mat-checkbox>
            <mat-checkbox>Fiddler / Wireshark</mat-checkbox>
            <mat-checkbox>Event Viewer</mat-checkbox>
            <mat-checkbox>Process Monitor</mat-checkbox>
            <mat-checkbox>Debug Diagnostics</mat-checkbox>
        </mat-form-field>
        <p></p>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step> -->
</mat-vertical-stepper>
