<div class="row">    
    <div class="col-md-6">
        <h2><i class="fa fa-bug"></i> Defect Prioritization</h2>
    </div>
    <div class="col-md-6">
            <h5 class="text-right text-secondary">Total Defects: {{rfas.length}}</h5>
    </div>
</div>
<mat-form-field style="width:100%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Filter Criteria Here">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="table table-striped table-dark">
    <!-- Rank -->
    <ng-container matColumnDef="rank" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let x = index"> {{x+1}} </td>
    </ng-container>
    <!-- Total Points -->
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.total}} </td>
    </ng-container>
        <!-- RFA# -->
        <ng-container matColumnDef="rfanum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RFA# </th>
            <td mat-cell *matCellDef="let rfa">                 <a href="http://short/rfa/{{rfa.rfanum}}"><img width="15" height="15" src="assets/Icons/Canvas.png" alt=""></a> {{rfa.rfanum}}</td>
        </ng-container>
        <!-- RFA Status -->
        <ng-container matColumnDef="rfastatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RFA Status </th>
            <td mat-cell *matCellDef="let rfa"> {{rfa.rfastatus}} </td>
        </ng-container>
        <!-- SI# -->
        <ng-container matColumnDef="sinum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SI# </th>
            <td mat-cell *matCellDef="let rfa">
                <a href="http://short/si/{{rfa.sinum}}"><img width="15" height="15" src="assets/Icons/Canvas.png" alt=""></a>  {{rfa.sinum}} </td>
        </ng-container>
    <!-- Customer -->
    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.customer}} </td>
    </ng-container>
    <!-- Functionality -->
    <ng-container matColumnDef="functionality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Functionality </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.functionality}} </td>
    </ng-container>
    <!-- Summary -->
    <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.summary}} </td>
    </ng-container>
    <!-- SI Owner -->
    <ng-container matColumnDef="siowner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SI Owner </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.siowner}} </td>
    </ng-container>
    <!-- RFA Type -->
    <ng-container matColumnDef="rfatype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RFA Type </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.rfatype}} </td>
    </ng-container>
    <!-- Responsible Ops Spec -->
    <ng-container matColumnDef="responsible">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RFA Owner </th>
        <td mat-cell *matCellDef="let rfa"> {{rfa.responsible}} </td>
    </ng-container>
    <!-- Escalated -->
    <ng-container matColumnDef="escalated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Escalated </th>
        <td mat-cell *matCellDef="let rfa">
        <a routerLink="/escalationreq/{{rfa.rfanum}}"*ngIf="rfa.urgency == 0" style="font-size: 14px;" class="btn btn-danger btn-sm">Escalate Issue</a>
        <a routerLink="/escalationreq/{{rfa.rfanum}}"*ngIf="rfa.urgency != 0" style="font-size: 14px;" class="btn btn-success btn-sm">View Escalation</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>