<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
      <a href="" class="navbar-brand">OpsSpecHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a href="/osrfa" class="nav-link">OS RFA</a>
          </li>
          <li class="nav-item">
            <a href="/dbrfa" class="nav-link">DB RFA</a>
          </li>
          <li class="nav-item">
            <a href="/defects" class="nav-link">Defects</a>
          </li>
          <li class="nav-item">
            <a href="/escalations" class="nav-link">Escalations</a>
          </li>
          <li class="nav-item">
            <a href="/assignment" class="nav-link">Assignment</a>
          </li>
          <li class="nav-item">
            <a href="/templates" class="nav-link">RFA Template</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a href="" class="nav-link">Login</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>